<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Next Ride API</strong> by <a href="http://kshvmdn.com">Kashav Madan</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/kshvmdn/next-ride-api">
          <img src="images/github.svg" alt="">
        </a>
      </p>
    </div>
  </div>
</footer>
