<section class="hero is-dark is-bold">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">Next Ride API</a>
        </div>
        <div class="nav-right">
          <span class="nav-item">
            <a href="https://github.com/kshvmdn/next-ride-api" alt="">
              <span class="icon">
                <img src="images/github.svg" alt="">
              </span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Next Ride Brampton
      </h1>
      <h2 class="subtitle">
        Scrapers and APIs for real-time Brampton Transit bus schedules.
      </h2>
    </div>
  </div>
</section>
