<title>{{ title }}</title>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Bitter:400,400i,700'>
<link rel='stylesheet' href='./stylesheets/main.css' />

