<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">Next Ride API</a>
  </div>
  <div class="nav-right">
    <a class="nav-item" href="https://github.com/kshvmdn/next-ride-api">
      <span class="icon">
        <img src="images/github.svg" alt="">
      </span>
    </a>
  </div>
</nav>
