<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="application-name" content="Brampton Transit API">
<meta name="description" content="A live API for Brampton Transit bus times.">

<title>Brampton Transit API</title>

<base href="/">

<link href="https://fonts.googleapis.com/css?family=Signika:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="styles/normalize.css">
<link rel="stylesheet" href="styles/main.css">
