<title>{{ title }}</title>
<link rel='stylesheet' href='/stylesheets/main.css' />
<link href='https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
