nginx:
    build: .
    container_name: nginx
    dockerfile: nginx.Dockerfile
    links:
        - node:node
    ports:
        - "80:80"

node:
    build: .
    container_name: node
    dockerfile: node.Dockerfile
    environment:
        NODE_ENV: production
    ports:
        - "3001:3000"
    links:
        - redis

redis:
    container_name: redis
    image: redis
    ports:
        - "6379:6379"
