<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="left"><a href="/">Brampton Transit API</a></div>
      <div class="right">
        <a href="https://github.com/kshvmdn/brampton-transit-api"><img src="images/github.svg"></a>
      </div>
    </div>
    <div class="content">
      {{{body}}}
    </div>
    <div class="footer">
      Built by <a href="http://kshvmdn.com">Kashav Madan</a>. View source on <a href="https://github.com/kshvmdn/brampton-transit-api">GitHub</a>.
    </div>
  </div>
</body>
</html>
