<!DOCTYPE html>
<html>
  <head>
  {{> head}}
  </head>
  <body>
    <div class="container">
      {{> header }}
      <div class="content">
        {{{ body }}}
      </div>
    </div>
    {{> foot}}
  </body>
</html>
