<!DOCTYPE html>
<html>
  <head>
  {{> head}}
  </head>
  <body>
    <div class="layout">
      {{> header }}
      <div class="container is-fluid">
        {{{ body }}}
      </div>
    </div>
    {{> footer}}
    {{> scripts}}
  </body>
</html>
