<div class="usage">
  <h3>Overview</h3>
  <p>Interface with <strong>live</strong> Brampton Transit bus timings.</p>
  <h3>Endpoints</h3>
  <a href="/api/v1/routes"><code>/api/v1/routes</code></a>
  <a href="/api/v1/search/stops/bramalea"><code>/api/v1/search/stops/<kbd>&lt;query&gt;</kbd></code></a>
  <a href="/api/v1/stops"><code>/api/v1/stops</code></a>
  <a href="/api/v1/stops/511"><code>/api/v1/stops/<kbd>&lt;route_id&gt;</kbd></code></a>
  <a href="/api/v1/stop/1280"><code>/api/v1/stop/<kbd>&lt;stop_id&gt;</kbd></code></a>
  <h3>Self-hosting, installation &amp; contributing</h3>
  <p>See project <a href="https://github.com/kshvmdn/brampton-transit-api#README.md">README</a>.</p>
</div>
