<div class="section">
  <div class="title">API</div>
  <div class="columns">
    <div class="column is-2">
      <code>
        <a href="/api/stop" alt="">/api/stop</a>
      </code>
    </div>
    <div class="column">
      Retrieve a list of all Brampton Transit stops, separated by route.
    </div>
  </div>
  <div class="columns">
    <div class="column is-2">
      <code>
        <a href="/api/stop/1280" alt="">/api/stop/{stop}</a>
      </code>
    </div>
    <div class="column">
      Retrieve a real-time schedule list for stop <i>{stop}</i>.
    </div>
  </div>
</div>
