{% extends "layout.html" %}
{% block content %}
<div class="usage">
  <h3>Endpoints</h3>
  <a href="/api/1.0/routes"><code>/api/1.0/routes</code></a>
  <a href="/api/1.0/search/stops/bramalea"><code>/api/1.0/search/stops/<kbd>&lt;query&gt;</kbd></code></a>
  <a href="/api/1.0/stops"><code>/api/1.0/stops</code></a>
  <a href="/api/1.0/stops/511"><code>/api/1.0/stops/<kbd>&lt;route_id&gt;</kbd></code></a>
  <a href="/api/1.0/stop/1280"><code>/api/1.0/stop/<kbd>&lt;stop_id&gt;</kbd></code></a>
  <h3>Self-hosting, installation &amp; contributing</h3>
  <p>See project <a href="https://github.com/kshvmdn/brampton-transit-api/README.md">README</a>.</p>
</div>
{% endblock %}
