<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1> 
    <p>A full-featured web API for Brampton Transit services.</p>
    <h2>Usage</h2>
    <code>/api?code={stop_code}</code>
    <p>Find <code>stop_code</code> at <a href="http://nextride.brampton.ca/RealTime.aspx" target="_blank">NextRide</a> (find by route) and transit stops.</p>
  </body>
</html>