<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<p>A full-featured web API for Brampton Transit services.</p>
	<h2>Usage</h2>
	<code>/api?code={code}</code>
	<p>Code can be found on Brampton Transit site (i think).</p>
  </body>
</html>
